*{
    margin: 0px;
    padding: 0px;
}

.menu-section{
    background-color: rgb(43, 42, 42);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-size{
    width: 120px;
}
.menu-list{
    display: flex;
}
.item{
    margin-right: 10px;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color: rgb(76, 0, 255);
    background-color: cyan;
}
.banner-img{
    width: 350px;
}
.banner-section{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid grey; */
    background-image: url('./images/background.png'), linear-gradient(45deg, rgb(8,8,8), #333030);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading1{
    font-size: 56px;
    font-weight: bold;
}
.para1{
    margin-top: 20px ;
    margin-bottom: 20px ;
    font-size: 20px;
}
.btn1{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
.btn1:hover{
    color: rgb(18, 8, 77);
}
.about-img{
    width: 350px;
}
.about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    
    
}
.about-title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 56px;
}
.heading3{
    font-size: 30px;
    font-weight: bold;
}
.box1{
    width: 280px;
    height: 350px;
    box-shadow: 2px 2px 100px 2px gray;
    background-color: black;
    text-align: center;
    color: white;
}
.icon{
    width: 70px;
    margin-top: 10px;
}
.box-btn{
    background-color: gray;
    margin-top: 10px;
}

.heading4{
    padding: 10px;
}
.para2{
    padding: 10px;
}
.service-section{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-image: url('./images/background.png'), linear-gradient(45deg, #242323, #000 );
}
.section-height2{
    box-shadow: 0px 2px 7px 2px rgb(184, 182, 182);
}